@using MangaProject.BL.Domain
 @* ReSharper disable once CheckNamespace *@
 @namespace UI.BlazorServer.Pages

 @if (Manga != null)
 {
     <table class="table-horizontal">
         <tr>
             <th>Title</th>
             <td>@Manga.Title</td>
         </tr>
         <tr>
             <th>Start date</th>
             <td>@Manga.StartDate.ToShortDateString()</td>
         </tr>
         <tr>
             <th>Volumes</th>
             <td>@Manga.Volumes</td>
         </tr>
         <tr>
             <th>Rating</th>
             @if (Manga.Rating == null)
             {
                 <td>Unrated</td>
             }
             else
             {
                 <td>@Manga.Rating</td>
             }
         </tr>
     </table>
 }

@code {
    [Parameter, EditorRequired]
    public Manga? Manga { get; set; }
}